DISCORD_TOKEN=your_discord_token
RCON_URL=http://127.0.0.1:9001
RCON_PASSWORD=rcon_pass
STEAM_WEB_API_KEY=steam_api_key
DATABASE_URL=postgresql://127.0.0.1:5432/database?user=user&password=password
API_KEY=secret_prod_key

API_BASE_URL=http://api_rcon:8000